<head>
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-M3LCT9F');</script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>The first step to decentralization is ownership.</title>
  <meta property="og:title" content="{{ page.title | default: 'The first step to decentralization is ownership.'}}" />
  <meta napropertyme="og:description" content="{{ page.description | default: 'Atomic NFTs make it possible to mint millions of NFTs inexpensively, and host them for all to see.' }}">
  <meta property="og:image" content="https://atomicnft.com/assets/images/screenshot.png" />
  <meta
  property="og:image"
  content="https://atomicnft.com/assets/images/screenshot.png"
/>  
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@koiinetwork" />
  <meta name="twitter:creator" content="@koiinetwork" />
  <meta property="og:url" content="{{ 'http://atomicnft.com/' + page.path | default: 'http://atomicnft.com' }}" />
  <meta property="og:title" content="{{ page.title | default: 'The first step to decentralization is ownership.'}}" />
  <meta property="og:description" content="{{ page.description | default: 'Atomic NFTs make it possible to mint millions of NFTs inexpensively, and host them for all to see.' }}" />
  <meta property="og:image" content="https://atomicnft.com/assets/images/screenshot.png" />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/images/icons/Koii_Icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/images/icons/Koii_Icon.png"
  />

  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">

  {% if site.ga_tracking != nil %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.ga_tracking }}'{% unless site.ga_tracking_anonymize_ip == nil %}, { 'anonymize_ip': true }{% endunless %});
    </script>

  {% endif %}

  {% if site.search_enabled != false %}
    <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
  {% endif %}
  <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  {% include head_custom.html %}

</head>
