<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about" id="head-nav">
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}<span class="show">  ›</span></p>
      
    </div>

    <nav class="sidebar-nav hidden" id="list-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/{{ page.lang }}">Home</a>

      {% assign pages_list = site.pages | where:"lang", page.lang | sort: 'navnum' %}
      {% for node in pages_list %}
        {% if node.title != null %}
         {%- if node.parent == nil -%}
          {%- unless node.nav_exclude -%}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}" id="nav-head">{{ node.title }}  
              {%- if node.has_children -%}
               :
              {%- endif -%}
            </a>
            {% if node.has_children %}
            {%- assign children_list = pages_list | where: "parent", node.title -%}
            <ul class="nav-list" id="child-list" >
              {%- for child in children_list -%}
                <li class="nav-list-item {% if page.url == child.url or page.parent == child.title %} active{% endif %}">
                  <a href="{{ child.url }}" class="nav-list-link{% if page.url == child.url %} active{% endif %}">{{ child.title }}</a>
                </li>
              {% endfor %}
             </ul> 
            {% endif %}
          {% endif %}
          {%- endunless -%}
          {%- endif -%}
        {% endif %}
      {% endfor %}
    </nav>
   
    <p class="sidebar-footer">&copy;Koi Labs Inc. {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
