<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body class="theme-base-0k" onload="codeaddress()">
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M3LCT9F"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
      {% include footer.html %}
    </div>

    <div class="sourceDetails">
      <a target="_blank" href="https://github.com/atomic-nfts/site/"
          id="editOnGithubButton">
          <span>Suggest edits on GitHub</span>
      </a>
      <style>
        a#editOnGithubButton {
            z-index: 999;
            display: block;
            position: fixed;
            bottom: 6px;
            right: 10px;
            text-decoration: none;
        }
      </style>
      <script>
          var path = "{{ page.path }}";
          if ("_" === path.charAt(0)) {
              path = "all_collections/" + path;
          }
          path = "https://github.com/atomic-nfts/site/blob/main/" + path;
          console.log(path);
  
          document.getElementById('editOnGithubButton').href = path;
      </script>
  </div>
  </body>
</html>
